* text=auto

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary

*.vpk binary
*.skprx binary
*.self binary
*.velf binary
*.sfo binary
*.bin binary
*.zip binary
*.7z binary

*.eqvp binary
*.eqbs binary
